

main {
  display:flex;
  flex-direction: row;
}

.board-header {
  color: #ddd;
  margin: 10px 0 0 10px;
}

.App {
  /* background: url(../static/login-bg.jpg) no-repeat center center fixed;
  background-size: cover; */

  background-image: url('./background-img.jpg');
  background-size: cover;
  background-position: center !important;
  height: 90vh;
  overflow-x: scroll;
  /* height: 85vh; */
}

