/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

main {
  display:flex;
  flex-direction: row;
}

.board-header {
  color: #ddd;
  margin: 10px 0 0 10px;
}

.App {
  /* background: url(../static/login-bg.jpg) no-repeat center center fixed;
  background-size: cover; */

  background-image: url('./background-img.jpg');
  background-size: cover;
  background-position: center !important;
  height: 90vh;
  overflow-x: scroll;
  /* height: 85vh; */
}

